{% extends 'base/base.html' %}
{% load util_filters %}

{% block content %}
  <section id="profile" class="md:w-[92%] mx-auto px-3 pb-5">
    <h2 class="font-bold px-3 mb-5">Thông tin tài khoản</h2>
    <div class="grid grid-cols-6 gap-5 p-3 pt-0">
      <div class="col-span-2 row-span-1 shadow-md dark:shadow-neutral dark:bg-base-200 p-5 rounded-lg">
        <div class="grid grid-cols-4 gap-y-5 items-center">
          <div class="col-span-4 text-2xl font-bold flex items-center gap-2">
            <i class="fa-solid fa-coins"></i>
            {{ user.balance|int_comma }} đ
          </div>
          <div class="col-span-2 flex items-center gap-2">
            <i class="fa-solid fa-money-bill-transfer"></i>
            <div class="">{{ transaction_count }} giao dịch</div>
          </div>
          <div class="col-span-2 flex justify-end items-center gap-2">
            <i class="fa-solid fa-layer-group"></i>
            <div class="">{{ category_count }} hạng mục</div>
          </div>
        </div>
      </div>

      <div class="col-span-4 row-span-2 flex shadow-md dark:shadow-neutral dark:bg-base-200 p-5 rounded-lg">
        <form id="sign-up-form" class="space-y-4 w-full" action="#">
          {% csrf_token %}

          <div class="!mt-0">
            <label class="input input-bordered input-sm py-5 flex items-center gap-2"><input type="text" name="last_name" class="grow" placeholder="Họ" value="{{ form.last_name.value }}" required minlength="3" maxlength="150" /></label>
            {% include 'component/form-field-error.html' with field_errors=form.last_name.errors %}
          </div>

          <div class="">
            <label class="input input-bordered input-sm py-5 flex items-center gap-2"><input type="text" name="first_name" class="grow" placeholder="Tên" value="{{ form.first_name.value }}" required minlength="3" maxlength="150" /></label>
            {% include 'component/form-field-error.html' with field_errors=form.first_name.errors %}
          </div>

          <div class="">
            <label class="input input-bordered input-sm py-5 flex items-center gap-2">
              <span class="fill-current h-4 w-4 flex items-center justify-center"><i class="fa-solid fa-envelope"></i></span>
              <input type="email" name="email" class="grow" placeholder="Email" value="{{ form.email.value }}" required maxlength="150" />
            </label>
            {% include 'component/form-field-error.html' with field_errors=form.email.errors %}
          </div>

          {% include 'component/non-field-form-error.html' %}

          <div class="flex items-center justify-between">
            <div class="col-span-4">
              <label class="link link-secondary link-hover text-sm">
                <i class="fa-solid fa-lock me-1"></i>
                Đổi mật khẩu
              </label>
            </div>
            <label class="btn btn-primary btn-sm" disabled hx-post="{% url 'htmx-sign-up' %}" hx-trigger="click" hx-target="#sign-up-block" hx-swap="outerHTML" hx-disabled-elt="this" hx-validate="true">Lưu thay đổi</label>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
