{% extends 'base/base.html' %}
{% load util_filters %}

{% block content %}
  <section id="profile" class="md:w-[92%] mx-auto px-3 pb-5">
    <h2 class="font-bold px-3 mb-5">Thông tin tài khoản</h2>
    <div class="grid grid-cols-6 gap-5 p-3 pt-0">
      <div class="col-span-6 md:col-span-2 row-span-1 shadow-md dark:shadow-neutral dark:bg-base-200 p-5 rounded-lg">
        <div class="grid grid-cols-4 gap-y-5 items-center">
          <div class="col-span-4 text-2xl font-bold flex items-center gap-2 text-primary">
            <i class="fa-solid fa-coins"></i>
            {{ user.balance|int_comma }} đ
          </div>
          <div class="col-span-2 flex items-center gap-2">
            <i class="fa-solid fa-money-bill-transfer"></i>
            <div class="font-medium">{{ transaction_count }} giao dịch</div>
          </div>
          <div class="col-span-2 flex justify-end items-center gap-2">
            <i class="fa-solid fa-layer-group"></i>
            <div class="font-medium">{{ category_count }} hạng mục</div>
          </div>
        </div>
      </div>

      {% include 'partial/account/update-user-info-form.html' %}
    </div>
  </section>

  <!-- Change Password Modal -->
  <input type="checkbox" id="change-password-modal" class="modal-toggle" />
  <div class="modal z-40" role="dialog">
    {% include 'partial/account/change-password-form.html' %}

    <label class="modal-backdrop" for="change-password-modal">Close</label>
  </div>
{% endblock %}
