<div id="add-goal-form-block" class="modal-box" hx-swap-oob="true">
  <h3 class="mb-3 text-lg font-bold">Thêm Mục Tiêu</h3>
  <div class="">
    <form id="add-goal-form" action="#" class="space-y-3">
      {% csrf_token %}

      <label class="w-full form-control">
        <div class="pt-0 label">
          <span class="label-text">Tên mục tiêu<span class="text-error">*</span></span>
        </div>
        <input name="name" type="text" class="input input-bordered" value="{{ form.name.value }}" maxlength="150" required autocomplete="off" />
        {% include 'component/form-field-error.html' with field_errors=form.name.errors %}
      </label>

      <label class="w-full form-control">
        <div class="pt-0 label">
          <span class="label-text">Số tiền mục tiêu<span class="text-error">*</span></span>
        </div>
        <label class="flex items-center gap-2 input input-bordered">
          <input name="target_amount" type="text" class="grow" value="{{ form.target_amount.value }}" onchange="amountValueChange(event)" required autocomplete="off" onkeyup="this.setCustomValidity('')" hx-on:htmx:validation:validate="isNumber(this); htmx.find('#add-goal-form').reportValidity();" />
          <div class="btn btn-sm btn-ghost">đ</div>
        </label>
        {% include 'component/form-field-error.html' with field_errors=form.target_amount.errors %}
      </label>

      <label class="w-full form-control">
        <div class="pt-0 label">
          <span class="label-text">Mức độ ưu tiên<span class="text-error">*</span></span>
        </div>
        <select class="select select-bordered" name="priority" value="{{ form.priority.value }}" required>
          <option value="">Chọn mức độ ưu tiên</option>
          <option value="1">Cao nhất</option>
          <option value="2" selected>Trung bình</option>
          <option value="3">Thấp nhất</option>
        </select>
        {% include 'component/form-field-error.html' with field_errors=form.priority.errors %}
      </label>

      <label class="w-full form-control">
        <div class="pt-0 label">
          <span class="label-text">Thời hạn<span class="text-error">*</span></span>
        </div>
        <label class="flex items-center gap-2 input input-bordered">
          <input id="add-goal-date" name="target_date" type="text" class="grow" value="{{ form.target_date.value }}" placeholder="dd-mm-yyyy" required autocomplete="off" />
          <span class="flex items-center justify-center w-3 h-3 fill-current"><i class="fa-regular fa-calendar-days fa-lg"></i></span>
        </label>
        <script>
          initDatepicker('add-goal-date')
        </script>
        {% include 'component/form-field-error.html' with field_errors=form.target_date.errors %}
      </label>

      <div class="flex justify-end gap-2">
        <label for="add-goal-modal" class="btn btn-sm btn-outline">Huỷ bỏ</label>
        <button type="reset" class="btn btn-sm btn-outline">Làm mới</button>
        <label id="add-goal-btn" class="btn btn-sm btn-primary" hx-post="{% url 'htmx-add-goal' %}" hx-trigger="click" hx-disabled-elt="this" hx-validate="true" hx-swap="none" hx-on="addGoalSuccessfully: toggleModal('add-goal-modal'); resetForm('add-goal-form')">
          <!--  -->
          Thêm
        </label>
      </div>
    </form>
  </div>
</div>
