<label class="input input-bordered input-sm py-5 flex items-center gap-2 pr-0">
  <span class="fill-current h-4 w-4 flex items-center justify-center"><i class="fa-solid fa-lock"></i></span>

  {% if validate %}
    <input type="{{ type }}" name="{{ name }}" class="grow password-input" placeholder="{{ placeholder }}" value="{{ value }}" required hx-on:htmx:validation:validate="htmx.find('#{{ validate_form_id }}').reportValidity();" />
  {% else %}
    <input type="{{ type }}" name="{{ name }}" class="grow password-input" placeholder="{{ placeholder }}" value="{{ value }}" required />
  {% endif %}
  <label class="btn btn-ghost btn-sm swap swap-rotate me-1">
    <input type="checkbox" onclick="togglePassword(event)" />
    <span class="swap-off fill-current h-4 w-4 flex items-center justify-center"><i class="fa-regular fa-eye-slash"></i></span>
    <span class="swap-on fill-current h-4 w-4 flex items-center justify-center"><i class="fa-regular fa-eye"></i></span>
  </label>
</label>
