<div id="change-password-block" class="modal-box" hx-swap-oob="true">
  <h3 class="text-lg font-bold mb-3">Đổi mật khẩu</h3>
  <div class="">
    <form id="change-password-form" action="#" class="space-y-3">
      {% csrf_token %}

      <div class="">
        {% include 'component/account/password-input.html' with type='password' name='old_password' placeholder='Mật khẩu cũ' value=form.old_password.value validate=True validate_form_id='change-password-form' %}
        {% include 'component/form-field-error.html' with field_errors=form.old_password.errors %}
      </div>

      <div class="">
        {% include 'component/account/password-input.html' with type='password' name='new_password1' placeholder='Mật khẩu mới' value=form.new_password1.value %}
        {% include 'component/form-field-error.html' with field_errors=form.new_password1.errors %}
      </div>

      <div class="">
        {% include 'component/account/password-input.html' with type='password' name='new_password2' placeholder='Nhập lại mật khẩu mới' value=form.new_password2.value %}
        {% include 'component/form-field-error.html' with field_errors=form.new_password2.errors %}
      </div>

      {% include 'component/non-field-form-error.html' %}

      <div class="flex gap-2 justify-end">
        <label for="change-password-modal" class="btn btn-sm btn-outline">Huỷ bỏ</label>
        <label class="btn btn-sm btn-primary" hx-post="{% url 'htmx-change-password' %}" hx-trigger="click" hx-disabled-elt="this" hx-validate="true" hx-swap="none" hx-on="changePasswordSuccessfully: toggleModal('change-password-modal');">Thêm</label>
      </div>
    </form>
  </div>
</div>

{% if message %}
  <div id="toast" class="toast" hx-swap-oob="beforeend">
    {% include 'component/alert.html' with alert_type=message.type alert_msg=message.value %}
  </div>
{% endif %}
