<div id="change-info-block" class="col-span-6 md:col-span-4 row-span-2 flex shadow-md dark:shadow-neutral dark:bg-base-200 p-5 rounded-lg" hx-swap-oob="true">
  <form id="change-info-form" class="space-y-2 w-full p-3" action="#">
    {% csrf_token %}

    <div class="flex flex-col justify-center items-center !mt-0">
      <div class="relative avatar group">
        <div class="absolute w-32 rounded-full">
          <label for="avatar-change" class="items-center justify-center hidden bg-black cursor-pointer size-32 group-hover:flex bg-opacity-40"><i class="fa-solid fa-camera fa-xl !text-white"></i></label>
        </div>
        <div class="w-32 rounded-full ring-primary ring-offset-base-100 ring ring-offset-2">
          <img id="avatar-img" src="{{ user.avatar.url }}" />
        </div>
      </div>

      <div class="mt-2">Avatar</div>
      <input id="avatar-change" name="avatar" type="file" accept="image/*" class="hidden" onchange="previewAvatar(event, 'avatar-img')" />
    </div>

    <label class="form-control w-full !mt-0">
      <div class="pt-0 label">
        <span class="label-text">Họ</span>
      </div>
      <input type="text" name="last_name" class="w-full py-5 input input-bordered input-sm" placeholder="Họ" value="{{ form.last_name.value }}" required minlength="2" maxlength="150" hx-on:htmx:validation:validate="htmx.find('#change-info-form').reportValidity();" />
      {% include 'component/form-field-error.html' with field_errors=form.last_name.errors %}
    </label>

    <label class="w-full form-control">
      <div class="pt-0 label">
        <span class="label-text">Tên</span>
      </div>
      <input type="text" name="first_name" class="w-full py-5 input input-bordered input-sm" placeholder="Tên" value="{{ form.first_name.value }}" required minlength="2" maxlength="150" />
      {% include 'component/form-field-error.html' with field_errors=form.first_name.errors %}
    </label>

    <label class="w-full form-control">
      <div class="pt-0 label">
        <span class="label-text">Email</span>
      </div>
      <input type="email" name="email" class="w-full py-5 input input-bordered input-sm" placeholder="Email" value="{{ form.email.value }}" required maxlength="150" />
      {% include 'component/form-field-error.html' with field_errors=form.email.errors %}
    </label>

    {% include 'component/non-field-form-error.html' %}

    <div class="flex items-center justify-between !mt-4">
      <label for="change-password-modal" class="text-sm font-medium link link-secondary link-hover">
        <i class="fa-solid fa-lock me-1"></i>
        Đổi mật khẩu
      </label>
      <label id="btn-save-user-info" class="btn btn-primary btn-sm" disabled hx-post="{% url 'htmx-update-user-info' %}" hx-trigger="click" hx-disabled-elt="this" hx-validate="true" hx-swap="none" hx-encoding="multipart/form-data">Lưu thay đổi</label>
    </div>
  </form>
  <script>
    ;(function () {
      const $form = document.getElementById('change-info-form')
      const $saveBtn = document.getElementById('btn-save-user-info')
      const initialData = new FormData($form)
    
      $form.addEventListener('input', function () {
        onDetailFormChanged($form, $saveBtn, initialData)
      })
    })()
  </script>
</div>

{% if message %}
  <div id="toast" class="toast" hx-swap-oob="beforeend">
    {% include 'component/alert.html' with alert_type=message.type alert_msg=message.value %}
  </div>
{% endif %}

{% if 'success' in message.type %}
  {% include 'component/user-avatar.html' %}
{% endif %}
