{% load util_filters %}

<tr>
  <th class="hidden md:block">
    <label class="flex items-center justify-center">
      <!-- Row Selection -->
      <input row-selection data-transaction-id="{{ goal.id }}" type="checkbox" class="checkbox checkbox-sm row-checkbox" onchange="onRowSelected(event)" />
    </label>
  </th>
  <td class="font-bold">{{ goal.name|title }}</td>
  <td class="hidden md:table-cell text-nowrap">{{ goal.target_amount|int_comma }} đ</td>
  <td class="hidden text-center md:table-cell text-nowrap">
    {% include 'component/goal/priority-badge.html' %}
  </td>
  <td class="hidden md:table-cell text-nowrap">{{ goal.target_date|date:'d-m-Y' }}</td>
  <td class="items-center md:flex text-nowrap">
    {% include 'component/goal/complete-progress.html' %}
  </td>
  <th class="text-center">
    <label for="detail-goal-modal" class="btn btn-primary btn-outline btn-xs" hx-get="{% url 'htmx-goal-detail' goal.id %}" hx-trigger="click" hx-target="#detail-goal-modal-box" hx-swap="outerHTML"><i class="fa-solid fa-pen-to-square"></i></label>
  </th>
</tr>
