<div role="alert" class="alert {{alert_type}} py-2 w-fit">
    <span class="fill-current h-4 w-4 flex items-center justify-center">
        {% if "success" in alert_type %}
        <i class="fa-regular fa-circle-check"></i>
        {% elif "error" in alert_type %}
        <i class="fa-regular fa-circle-xmark"></i>
        {% elif "info" in alert_type %}
        <i class="fa-solid fa-circle-info"></i>
        {% elif "warning" in alert_type %}
        <i class="fa-solid fa-triangle-exclamation"></i>
        {% endif %}
    </span>
    <span>{{ alert_msg }}</span>
    <script>
        setTimeout(() => {
            const $alert = document.querySelector(".alert");
            removeAlert($alert)
        }, 10000);
    </script>
</div>