<div id="add-transaction-block" class="modal-box" hx-swap-oob="true">
    <h3 class="mb-3 text-lg font-bold">Thêm Giao Dịch</h3>
    <div class="">
        <form id="add-transaction-form" action="#" class="space-y-3">
            {% csrf_token %}

            <label class="w-full form-control">
                <div class="pt-0 label">
                    <span class="label-text">Tên giao dịch</span>
                </div>
                <input name="name" type="text" class="input input-bordered" required minlength="3" maxlength="150" />
                {% include "component/form-field-error.html" with field_errors=form.name.errors %}
            </label>
            <label class="w-full form-control">
                <div class="pt-0 label">
                    <span class="label-text">Hạng mục</span>
                </div>
                <select id="add-transaction-category-select" class="select select-bordered" name="category" required>
                    {% include "component/transaction/category-select-options.html" %}
                </select>
                {% include "component/form-field-error.html" with field_errors=form.category.errors %}
            </label>
            <label class="w-full form-control">
                <label for="add-transaction-amount" class="pt-0 label">
                    <span class="label-text">Số tiền</span>
                </label>
                <label for="add-transaction-amount" class="flex items-center gap-2 px-0 input input-bordered">
                    <label class="border-0 btn btn-ghost btn-sm swap ms-2">
                        <input id="add-transaction-is-income-input" type="checkbox" name="is-income"
                            {% if form.type.value == 1 %}checked{% endif %} hx-post="{% url "htmx-category-option" %}"
                            hx-target="#add-transaction-category-select" hx-trigger="change" hx-swap="innerHTML" />

                        <span class="flex items-center justify-center w-4 h-4 fill-current swap-off">
                            <div class="btn btn-error btn-sm">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                        </span>
                        <span class="flex items-center justify-center w-4 h-4 fill-current swap-on">
                            <div class="btn btn-success btn-sm">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </span>
                    </label>
                    <input id="add-transaction-amount" type="text" name="amount" class="grow"
                        onchange="amountValueChange(event)" required onkeyup="this.setCustomValidity('')"
                        hx-on:htmx:validation:validate="isNumber(this); htmx.find('#add-transaction-form').reportValidity();" />
                    <div class="btn btn-sm btn-ghost me-2">đ</div>
                </label>
                {% include "component/form-field-error.html" with field_errors=form.amount.errors %}
            </label>
            <label class="w-full form-control">
                <div class="pt-0 label">
                    <span class="label-text">Ngày giao dịch</span>
                </div>
                <label class="flex items-center gap-2 input input-bordered">
                    <input id="add-transaction-date" name="date" type="text" class="grow" placeholder="dd-mm-yyyy"
                        required />
                    <span class="flex items-center justify-center w-3 h-3 fill-current">
                        <i class="fa-regular fa-calendar-days fa-lg"></i>
                    </span>
                </label>
                <script>
                    initDatepicker("add-transaction-date")
                </script>
                {% include "component/form-field-error.html" with field_errors=form.date.errors %}
            </label>

            <div id="add-transaction-btn-div" class="flex justify-end gap-2">
                <label for="add-transaction-modal" class="btn btn-sm btn-outline">Huỷ bỏ</label>
                <button id="reset-add-transaction-btn" type="reset" class="btn btn-sm btn-outline">Làm mới</button>
                <label id="add-transaction-btn" class="btn btn-sm btn-primary" hx-post="{% url "htmx-add-transaction" %}" hx-trigger="click"
                    hx-disabled-elt="this" hx-validate="true" hx-swap="none"
                    {% if goals_incomplete %}
                    hx-confirm="Những mục tiêu trên chưa hoàn thành. Thêm chi tiêu có thể làm chậm tiến độ hoàn thành."
                    {% endif %}
                    hx-on="addTransactionSuccessfully: toggleModal('add-transaction-modal');">
                    Thêm
                </label>
            </div>
        </form>
    </div>
</div>