{% load util_filters %}

{% if form %}
<div id="detail-transaction-modal-box" class="modal-box" {% if type == "edit" %}hx-swap-oob="true" {% endif %}>
    <h3 class="text-lg font-bold mb-3">Thông Tin Giao Dịch</h3>
    <div class="">
        <form id="detail-transaction-form" action="#" class="space-y-3">
            {% csrf_token %}

            <label class="form-control w-full">
                <div class="label pt-0">
                    <span class="label-text">Tên giao dịch</span>
                </div>
                <input id="detail-transaction-name-input" name="name" type="text" class="input input-bordered"
                    value="{{ form.name.value }}" required minlength="3" maxlength="150" />
                {% include "component/form-field-error.html" with field_errors=form.name.errors %}
            </label>
            <label class="form-control w-full">
                <div class="label pt-0">
                    <span class="label-text">Hạng mục</span>
                </div>
                <select id="detail-transaction-category-select" class="select select-bordered" name="category"
                    value="{{ form.category.value }}" required>
                    {% include "component/transaction/category-select-options.html" %}
                </select>
                {% include "component/form-field-error.html" with field_errors=form.category.errors %}
            </label>
            <label class="form-control w-full">
                <label for="detail-transaction-amount-input" class="label pt-0">
                    <span class="label-text">Số tiền</span>
                </label>
                <label for="detail-transaction-amount-input" class="input input-bordered flex items-center gap-2 px-0">
                    <label class="btn btn-ghost btn-sm swap ms-2 border-0 ">
                        <input id="detail-transaction-is-income-input" type="checkbox" name="is-income"
                            {% if form.type.value == 1 %}checked{% endif %} hx-post="{% url "htmx-category-option" %}"
                            hx-target="#detail-transaction-category-select" hx-trigger="change" hx-swap="innerHTML" />

                        <span class="swap-off fill-current h-4 w-4 flex items-center justify-center">
                            <div class="btn btn-error btn-sm">
                                <i class="fa-solid fa-minus"></i>
                            </div>
                        </span>
                        <span class="swap-on fill-current h-4 w-4 flex items-center justify-center">
                            <div class="btn btn-success btn-sm">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </span>
                    </label>
                    <input id="detail-transaction-amount-input" type="text" name="amount" class="grow"
                        value="{{ form.amount.value|int_comma }}" onchange="amountValueChange(event)" required
                        onkeyup="this.setCustomValidity('')"
                        hx-on:htmx:validation:validate="isNumber(this); htmx.find('#detail-transaction-form').reportValidity();" />
                    <div class="btn btn-sm btn-ghost me-2">đ</div>
                </label>
                {% include "component/form-field-error.html" with field_errors=form.amount.errors %}
            </label>
            <label class="form-control w-full">
                <div class="label pt-0">
                    <span class="label-text">Ngày giao dịch</span>
                </div>
                <label class="input input-bordered flex items-center gap-2">
                    {% if type == 'edit' %}
                    <input id="detail-transaction-date-input" name="date" type="text" class="grow"
                        placeholder="dd-mm-yyyy" value="{{ form.date.value }}" required />
                    {% else %}
                    <input id="detail-transaction-date-input" name="date" type="text" class="grow"
                        placeholder="dd-mm-yyyy" value="{{ form.date.value|date:'d-m-Y' }}" required />
                    {% endif %}
                    <span class="fill-current h-3 w-3 flex items-center justify-center">
                        <i class="fa-regular fa-calendar-days fa-lg"></i>
                    </span>
                </label>
                <script>
                    initDatepicker("detail-transaction-date-input")
                </script>
                {% include "component/form-field-error.html" with field_errors=form.date.errors %}
            </label>

            <div class="flex gap-2 justify-end">
                <label for="transaction-detail-modal" class="btn btn-sm btn-outline">Huỷ bỏ</label>
                <label class="btn btn-sm btn-error" hx-post="{% url "htmx-delete-transaction" transaction.id %}"
                    hx-trigger="click" hx=swap="none" hx-disabled-elt="this" hx-swap="none"
                    hx-confirm="Xác nhận xoá Giao dịch này?"
                    hx-on="deleteTransactionSuccessfully: toggleModal('transaction-detail-modal')">
                    Xoá
                </label>
                <label id="btn-save-transaction-detail" class="btn btn-sm btn-primary"
                    hx-post="{% url "htmx-update-transaction" transaction.id %}" hx-trigger="click"
                    hx-disabled-elt="this" hx-validate="true" hx-swap="none" disabled
                    hx-on="updateTransactionSuccessfully: toggleModal('transaction-detail-modal')">
                    Lưu
                </label>
            </div>
        </form>
        <script>
            (function () {
                const $form = document.getElementById('detail-transaction-form');
                const $saveBtn = document.getElementById('btn-save-transaction-detail');
                const $dateInput = document.getElementById('detail-transaction-date-input');
                const initialData = new FormData($form);

                $form.addEventListener("input", function () {
                    onDetailFormChanged($form, $saveBtn, initialData);
                });
                $dateInput.addEventListener('changeDate', function () {
                    onDetailFormChanged($form, $saveBtn,
                        initialData);
                });
            })();
        </script>
    </div>
</div> {% endif %}