<div id="table-transaction-block" hx-swap-oob="true">
  <table id="transaction-history-table" class="table table-sm md:table-md">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label class="flex items-center justify-center">
            <!-- Select All -->
            <input all-row-selection type="checkbox" class="checkbox checkbox-sm" onchange="selectAllRow(event)" />
          </label>
        </th>
        <th>Tên giao dịch</th>
        <th>Hạng mục</th>
        <th>Số tiền</th>
        <th class="hidden md:block">Ngày</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="transaction-table-tbody">
      {% for transaction in transactions %}
        {% include 'component/transaction/transaction-row.html' with t=transaction %}
      {% endfor %}
    </tbody>
    <!-- foot -->
    {% if transactions.count > 10 %}
      <tfoot>
        <tr>
          <th class="hidden md:block"></th>
          <th>Tên giao dịch</th>
          <th>Hạng mục</th>
          <th>Số tiền</th>
          <th class="hidden md:block">Ngày</th>
          <th></th>
        </tr>
      </tfoot>
    {% endif %}
  </table>

  <div class="space-y-3 text-center font-bold p-10 table {% if transactions %}hidden{% endif %}">
    <!-- Empty -->
    <div>Không có giao dịch nào.</div>
    <label for="add-transaction-modal" class="btn btn-sm btn-secondary">
      <!-- Empty -->
      Thêm giao dịch
    </label>
  </div>
</div>
