<div id="category-table-block" hx-swap-oob="true">
  <table id="category-table" class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label class="flex items-center justify-center">
            <!-- Select All -->
            <input all-row-selection type="checkbox" class="checkbox checkbox-sm" onchange="selectAllRow(event)" />
          </label>
        </th>
        <th>Tên hạng mục</th>
        <th>Loại hạng mục</th>
        <th>Mô tả</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="category-table-tbody">
      {% for category in categories %}
        {% include 'component/category/category-row.html' with category=category %}
      {% endfor %}
    </tbody>
    <!-- foot -->
    {% if categories.count > 10 %}
      <tfoot>
        <tr>
          <th class="hidden md:block"></th>
          <th>Tên hạng mục</th>
          <th>Loại hạng mục</th>
          <th>Mô tả</th>
          <th></th>
        </tr>
      </tfoot>
    {% endif %}
  </table>

  <div class="space-y-3 text-center font-bold p-10 table {% if categories %}hidden{% endif %}">
    <!-- Empty -->
    <div>Không có hạng mục nào.</div>
    <label for="add-category-modal" class="btn btn-sm btn-secondary">
      <!-- Empty -->
      Thêm hạng mục
    </label>
  </div>
</div>
