<div class="drawer-side z-50">
    <label for="filter-category-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="bg-base-100 text-base-content h-fit min-h-full w-80 px-3 py-0">
        <div class="flex items-center ps-3 pe-1 py-3">
            <div class="font-bold text-lg">Lọc hạng mục</div>
            <label for="filter-category-drawer" class="btn btn btn-ghost btn-circle ml-auto">
                <span id="close-filter" class="fill-current h-3 w-3 flex items-center justify-center">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </span>
            </label>
        </div>
        <div class="px-3 pb-3">
            <form action="#" class="space-y-3">
                <div>
                    <div class="text-sm font-bold">Theo Loại</div>
                    <div class="form-control">
                        <label class="label cursor-pointer justify-normal gap-2 px-0 ms-3">
                            <input type="radio" name="type" class="radio radio-sm" />
                            <span class="label-text">Thu nhập</span>
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="label cursor-pointer justify-normal gap-2 px-0 ms-3">
                            <input type="radio" name="type" class="radio radio-sm" />
                            <span class="label-text">Chi tiêu</span>
                        </label>
                    </div>
                </div>

                <div class="flex gap-2 justify-end">
                    <label for="filter-category-drawer" class="btn btn-sm btn-outline">Huỷ bỏ</label>
                    <button type="reset" class="btn btn-sm btn-outline">Làm mới</button>
                    <button type="submit" class="btn btn-sm btn-primary">Lọc</button>
                </div>
            </form>
        </div>
    </div>
</div>